/*** HEADER ***/

.header { 
    margin: 50px 110px 129px 110px; 
    display: flex;
    flex: 0 1 auto;
}

.header__menu {
    display: flex;
    align-items:center;
    padding-left: 40px;
    flex-grow: 1;
}

.header__menu_list {
    display: flex; 
}

.header__menu_item {
    padding-left: 20px;
}
    
.header__contact_link {
    font-weight: bold;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
}

.header__contact_link:before {
    content: " ";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 23px;
    background-image: url(../image/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

/*** BANNER ***/

.banner__wrapper {
    margin: 0 110px; 
} 

.banner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #EEE4DB;
}

.banner__switch {
    padding: 18px 0 0 28px;  
}

.banner__slide_switch {
    line-height: 14px;
}

.banner__slide_number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
}

.switch__btn {
    margin-left: 3px;
    width: 31px;
    height: 3px;
    border: none;
    background: #D6CAC2;
}
.switch__btn.btn_1 {
    background: #725F5B;
}

.switch__btn:hover {
    cursor: pointer;
    background: #725F5B;
}

.banner__slide {
    padding-left: 44px;
    padding-top: 92px;
    padding-bottom: 89px;
    flex-grow: 2;
}

.banner__slide_img {
    position:absolute;
    top: -88px;
    left: 445px;   
}

.banner__slide_title {
    margin: 0;
    max-width: 307px;
}

.banner__slide_info {
    margin: 17px 0 20px 0;
    font-family: 'Crimson Text', 'Times New Roman', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.banner__btn {
    border: none;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 22px;
    color: #FFFFFF;
    width: 161px;
    height: 40px;
    background: #000000;
}

.banner__btn:hover {
    cursor: pointer;
    background: #C29974;
}

.banner__btn:active {
    background: #CFAF91;
}

.banner__btn:disabled {
    background: #C7C1C1;
}

.banner__delivery_info {
    z-index: 2;
    margin: 0 auto;
    height: 39px;
    width: 1180px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    background: #C29974;
}

/*** Category Products ***/

.products {
    margin: 90px 110px 89px 110px; 
}

.products__list {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item {
    position: relative;
    display:flex;
    align-items:center;
    justify-content: center;
    width: 280px;
    height: 270px;
}

.products__item.item_1 {
    background-color: #DBE4DB;
}

.products__item.item_2 {
    background-color: #EADDD3;
}

.products__item.item_3 {
    background-color: #F8F2DA;
}
.products__item.item_4 {
    background-color: #D5D4E1;
}

.products__item_img {
    z-index: 0;
}

.products__link {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 190px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    z-index: 1;
}

.products__link:active, .products__link:hover {
    cursor:pointer;
    text-decoration-line: underline;
}

.products__nav_wrapper {
    display: flex;
    margin: 33px 0;
}

.button_paginator {
    width: 37px;
    height: 37px;
    border: none;
}

.button_paginator.btn-prev {
    background: rgba(112, 187, 220, 0.2) url('../image/icons/vector-prev.svg') no-repeat;
    background-position: 50% 50%;
}

.button_paginator.btn-next {
    background: rgba(112, 187, 220, 0.2) url('../image/icons/vector-next.svg') no-repeat;
    background-position: 50% 50%;
}

.products__info {
    padding-left: 20px;
    margin: 0;
    max-width: 580px;
}

/*** SERVICES: DELIVERY ***/

.services {
    margin: 0 210px 0 110px;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
}

.services__info_wrapper {
    margin-top: 30px;
    max-width: 480px;
}

.services__info_title {
    margin-bottom: 6px;
}

.services__info_item {
    margin-left: -60px;
    width: 326px;
    height: 55px;
}

.services__info_item.item__active {
    background: rgba(112, 187, 220, 0.2);
}

.services__link {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 26px;
    line-height: 58px;
    padding-left: 60px;
}

.services__link.link__active {
    font-weight: bold;
}

.services__info_delivery {
    margin-top: 18px;
    line-height: 22px;
}

.services__info_link {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 149px;
    height: 40px;
    background: #000000;

    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

/*** PARTNERS ***/

.partners {
    margin: 90px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*** DLK CONTACTS ***/

.box {
    margin-left: 110px;
    margin-bottom: 153px;
    padding-top: 27px;
    display: flex;
}

.about {
    width: 543px;
    height: 228px;
    background-color:#E1F0F7;
    margin-right: 56px;
}


.about__link {
    margin-left: 30px;
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 26px;
    line-height: 48px;
}

.about__info {
    margin: 5px 30px;
}

.buy__link {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 123px;
    height: 40px;
    background: #000000;

    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

}

.about__title, .contacts__title {
    margin-left: 30px;
    margin-top: -25px;
}

.contacts {
    width: 543px;
    height: 209px;
    background-color:#E1F0F7;
}

.contacts__info {
    margin: 20px 30px;
}

.contacts__map {
    margin: 10px 30px;
}

/*** FOOTER ***/

.footer {
    max-width: 1400px;
    margin-top: auto;
    background: #434343;
}

.wrapper {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom:1px solid #666666;
}
.wrapper > section {
    width: calc(1/3*100% - (1 - 1/3)*20px);
    padding-bottom: 13px;
}

.title {
    height: 44px;
    color:#AAAAAA;
    border-bottom: 1px solid #666666;
    margin-bottom: 30px;
}

.footer__item {
    margin: 15px 0;
}

.footer__link {
    color:#AAAAAA;
    font-size: 16px;
    line-height: 22px;
}

.footer__connect {
    margin-bottom: 25px;
}
.connect__form {
    display: flex;
    height: 40px;
}

.connect__input {
    border-style: none;
    width: 287px;
    padding-left: 15px;
    background-color:#666666;
}
.connect__input::placeholder {
    content:"Email";
    color:#EBEBEB;

}
.connect__btn {
    width: 81px;
    height: 40px;
    background-color:  #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer__connect_list {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__connect_link{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #666666;
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50% 50%;
}

.footer__connect_link.icon-facebook {
    background-image: url('../image/icons/facebook.svg'); 
}

.footer__connect_link.icon-twitter {
    background-image: url('../image/icons/twitter.svg'); 
}

.footer__connect_link.icon-pinterest {
    background-image: url('../image/icons/pinterest.svg'); 
}

.footer__connect_link.icon-instagram {
    background-image: url('../image/icons/instagram.svg'); 
}


